body {
    animation: animateBg 10s linear infinite;
    transition: 5s;
    background: linear-gradient(54deg, rgba(255, 72, 102, 0.557), rgba(209, 113, 193, 0.494), rgb(255, 165, 0, 0.4), white);
}

@keyframes animateBg {
    0% {
        background: linear-gradient(23deg, rgba(241, 162, 14, 0.694), rgba(209, 54, 215, 0.337), rgba(255, 255, 255, 0.703));
    }

    25% {
        background: linear-gradient(54deg, rgba(209, 113, 193, 0.494), rgba(230, 151, 164, 0.957), white, rgba(255, 166, 0, 0.499));
    }

    50% {
        background: linear-gradient(54deg, rgba(255, 192, 203, 0.957), white, rgba(209, 113, 193, 0.494), rgba(255, 166, 0, 0.499));
    }

    75% {
        background: linear-gradient(54deg, rgba(255, 192, 203, 0.957), rgba(209, 113, 193, 0.494), rgba(255, 166, 0, 0.499), white);
    }

    100% {
        background: linear-gradient(54deg, rgba(255, 192, 203, 0.957), rgba(209, 113, 193, 0.494), rgba(255, 166, 0, 0.499), white);
    }
}

details {
    margin: 10px;
    font-weight: 500;

}

summary {
    font-weight: 700;
}

#navTitle {
    background-color: #3e3b3b;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

#navLink {
    background-color: black;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

#navLink a {
    background-color: black;
    position: absolute;
    right: 20px;

}

@media screen and (orientation: landscape) {
    section {
        margin-left: 20%;
        margin-right: 20%;
        background-color: white;
        padding: 20px;

    }
}

@media screen and (orientation: portrait) {
    section {
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        padding: 20px;
    }
}